/* Reset some default styles for consistency */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(235, 141, 208);
    color: #141413;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #100f0f;
    text-decoration: none;
}

section {
    padding: 40px;
}

#home {
    background-color: #e9fa9e;
}

#events {
    background-color: rgb(178, 239, 239);
}

.event {
   
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#about {
    background-color: #b4f1be;
}

#contact {
    background-color: #b4f1be;
}

footer {
    background-color: #f2eded;
    color: #121111;
    text-align: center;
    padding: 10px;
}
